USE [master]
GO
/****** Object:  Database [BinanceApi]    Script Date: 15.11.2023 г. 15:31:59 ******/
CREATE DATABASE [BinanceApi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BinanceApi', FILENAME = N'F:\SQL-SERVER\DATA\BinanceApi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BinanceApi_log', FILENAME = N'F:\SQL-SERVER\DATA\BinanceApi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BinanceApi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BinanceApi]
GO
/****** Object:  Table [dbo].[SymbolPrices]    Script Date: 15.11.2023 г. 15:31:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SymbolPrices](
	[Id] [bigint] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Symbol] [varchar](10) NOT NULL,
	[EventTime] [datetime] NOT NULL,
	[Price] [decimal](19, 9) NOT NULL,
 CONSTRAINT [PK_SymbolPrices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
